# Progress bar for tracking operations
tqdm

# Command-line argument parsing
argparse

# Web API framework
fastapi

# ASGI server for FastAPI
uvicorn

# SQL toolkit and ORM
SQLAlchemy

# SQLAlchemy extension utilities
sqlalchemy-utils

# PostgreSQL adapter (commented out)
#psycopg2
psycopg2-binary

#It provides a simple and intuitive API for sending HTTP requests, handling responses, and managing various aspects of web communication. 
requests

# Redis client library for Python. Used for caching, session management, and other Redis functionalities in the app.
redis

# hvac is used for interacting with HashiCorp's Vault
hvac

# Pydantic is a data validation library used to validate data with Python type annotations
pydantic

sqlmodel

watchdog